aiofiles==24.1.0
aiohttp
apscheduler
asyncio

bard
bing-image-urls
bing_image_downloader
bs4

deepai
dnspython

emojis

faker
ffmpeg-python
future==0.18.3

git+https://github.com/AsmSafone/SafoneAPI
gitpython
googlesearch-python
gpytranslate
gtts

hachoir
heroku3
httpx[http2]==0.28.1

lexica-api==1.5.1

motor

numpy

openai==0.28.0
opencv-python

pickledb
pillow==9.5.0
psutil
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrofork
pyshorteners
py-tgcalls==0.9.7
python-dotenv
python-telegram-bot
python-whois
pyyaml==6.0.1

requests

search_engine_parser
SpeechRecognition
speedtest-cli
spotipy
sympy

telegram
tgcrypto

unidecode

wget

youtube-search
youtube-search-python
yt-dlp
